@page "/privacy"
<PageTitle>Polityka prywatności</PageTitle>
<h1>Polityka prywatności</h1>
<br/>
<p>
    Administratorem Państwa danych osobowych jest Xenial Programmer sp. z o.o.
</p>
<p>
    Przetwarzamy dane osobowe w celu obsługi komunikatora korzystającego z API OpenAI.
</p>
<p>
    Używamy plików cookies do utrzymania sesji i zapamiętywania preferencji użytkownika.
</p>
<p>
    Mają Państwo prawo do <a href="Account/Manage/PersonalData" style="color: #00f">dostępu, usunięcia</a> i <a href="Account/Manage" style="color: #00f">sprostowania</a> swoich danych.
</p>
<p>
    Dane przechowujemy przez okres niezbędny do realizacji określonych celów, nie dłużej niż przewidują to przepisy prawa.
</p>
<p>
    Zastrzegamy prawo do wprowadzania zmian w polityce prywatności. O wszelkich zmianach będziemy informować na tej stronie.
</p>
<p>
    Kontakt w sprawach dotyczących danych osobowych: <a href="mailto:daneosobowe@email.pl" style="color: #00F" ;>daneosobowe@email.pl</a>.
</p>
<p>
    Data aktualizacji: 01.09.2025
</p>

